/* AppComponent's private CSS styles */
mat-toolbar-row {
  height: 48px;
}
mat-toolbar-row:last-of-type {
  margin-bottom: 4px;
  box-shadow: 0px 5px 2px #f5f5f5;
}
.spacer {
  flex: 1 1 auto;
}
.tab-row {
  max-width: 752px;
  width: 100%;
  margin: 0 auto;
}
.main-router {
  max-width: 752px;
  width: 100%;
  margin: 0 auto;
  background: white;
}