<mat-toolbar color="primary">
  <mat-toolbar-row>
    {{title}}
    <span class="spacer"></span>
    <app-signin></app-signin>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav mat-tab-nav-bar backgroundColor="primary"  class="tab-row">
      <a mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.path"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-router">
  <router-outlet></router-outlet>
</div>
<app-messages></app-messages>