/* AppComponent's private CSS styles */
.icon {
  padding: 0 14px;
}
.spacer {
  flex: 1 1 auto;
}
h1 {
  font-size: 1.2em;
  color: rgb(245, 245, 245);
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}