.messages {
    background-color: black;
    color: greenyellow;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    margin-bottom: 15px;
}