<mat-nav-list>
  <mat-list-item *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
    {{hero.name}}
    <span class="spacer"></span>
    <button mat-button title="delete hero" (click)="delete(hero)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-form-field class="hero-name-input">
  <input #heroName matInput placeholder="Hero name" (keyup.enter)="add(heroName.value); heroName.value=''">
</mat-form-field>
<!-- (click) passes input value to add() and then clears the input -->
<button mat-button (click)="add(heroName.value); heroName.value=''">
    <mat-icon>add</mat-icon>
</button>