<div id="search-component">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="search" placeholder="Search Hero" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" routerLink="/detail/{{option.id}}">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>